.error-message-container {
    height: calc(100vh - #{map-get($navHeights, UHD)});
    width: 100%;
    background: map-get($colors, mobileCards);
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding-top: 150px;
    @include respond-to(QHD){
        height: calc(100vh - #{map-get($navHeights, QHD)});
    }
    @include respond-to(HD){
        height: calc(100vh - #{map-get($navHeights, HD)});
    }
    @include respond-to(tablet){
        height: calc(100vh - #{map-get($navHeights, tablet)});
    }
    @include respond-to(mobile-small){
        height: calc(100vh - #{map-get($navHeights, mobile-small)});
    }
}

.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.container-centered {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.mobile-card-container {
    padding: 0.4rem 1rem;
}

.center-content-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;   
}

.signup-tour-inner {
    padding-top: 15rem;
    text-align: center;
    .signup-tour-inner-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    #check-icon-circle {
        position: relative;
        align-self: center;
        color: white;
        background: map-get($colors, brightRed);
        padding: 2px;
        border-radius: 100px;
        margin-bottom: 1rem;
    }
    .step-number {
        color: black;
        margin-bottom: 0;
    }
    .text-xl {
        color: black;
    }
    .text-black {
        margin-bottom: 2rem;
    }
    .text-no-margin {
        margin: 0;
    }
    .tour-list {
        color: black;
        text-align: left;
        margin: 1.5rem 0;
        li {
            margin-bottom: 1rem;
        }
        #check-icon {
            color: map-get($colors, brightRed);
            margin-right: 10px;
        }
    }
    .btn-lg {
        width: 100%;
    }
}
.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .icon {
        margin-right: 15px;
        color: map-get($colors, brightRed);
    }
    .tab-phone-icons-container {
        align-self: center;
        .icon {
            margin: 0;
        }
    }
}

.signup-page-2-top{
    @include respond-to(tablet){
        text-align: center;
    }
}

.signup-page-2-inner {
    margin-top: 91px;
    p {
        color: black;
    }
    .btn {
        position: relative;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 300px;
    }
    .btn-blue{
        color: white;
        background: map-get($colors, brightBlue);
        padding: 20px;
        text-align: center;
        font-size: 1.2rem;
        margin: 2rem 0 4rem;
    }
    .input-field-container{
        background: map-get($colors, inputGrey);
    }
}