// Footer
.footer {
    position: relative;
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
    a {
        color: #999;
        font-size: 0.9rem;
    }
    p {
        margin-bottom: 1.5rem;
    }
    li {
        line-height: 1.9rem;
    }
    @include respond-to(mobile){
        margin-bottom: 80px;
        p {
            color: #999;
        }
    }
}
.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    p{
        margin: 4rem 0;
    }
    @include respond-to(QHD){
        p{
            margin: 2rem 0;
        }
    }
    @include respond-to(HD){
        p{
            margin: 0.5rem 0;
        }
    }
}