.navbar-bottom {
    position: fixed;
    width: 100%;
    z-index: 10;
    bottom: 0;
    padding: 5%;
}
.nav-simple {
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    height: map-get($navHeights, UHD);
    width: 100%;
    #logo {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 0;
        margin-left: 18rem;
        width: map-get($logoWidths, UHD);
        cursor: pointer;
    }
    .logo-alone {
        position: absolute;
        margin-left: 4rem;
        left: 0;
        width: map-get($logoWidths, UHD);
        cursor: pointer;
    }
    a {
        font-size: 3rem;
        padding: 25px 50px;
        margin-right: 80px;
        border-radius: 10px;
    }
    p {
        padding: 20px 40px;
        font-size: 3rem;
    }
    .signin-light {
        color: black;
        padding: 0;
        margin-right: 2rem;
        font-size: 4rem;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    @include respond-to(QHD) {
        height: map-get($navHeights, QHD);
        #logo {
            width: map-get($logoWidths, QHD);
            margin-left: 14rem;
        }
        .logo-alone {
            margin-left: 0;
        }
        p {
            margin-left: auto;
        }
        .signin-light {
            font-size: 2.5rem;
        }
    }
    @include respond-to(HD) {
        height: map-get($navHeights, HD);
        #logo {
            width: map-get($logoWidths, HD);
            margin-left: 7rem;
        }
        .signin-light {
            font-size: 1.4rem;
        }
    }
    @include respond-to(tablet) {
        height: map-get($navHeights, tablet);
        p {
            margin-left: auto;
        }
    }
    @include respond-to(mobile-small) {
        height: map-get($navHeights, mobile-small);
        #logo {
            width: map-get($logoWidths, mobile-small);
            margin-left: 3.5rem;
        }
        .signin-light {
            font-size: 1rem;
            margin-top: 5px;
        }
    }
}

.error-page .nav-black {
    background: black;
    width: 100%;
    height: map-get($navHeights, UHD);
    @include respond-to(QHD) {
        height: map-get($navHeights, QHD);
    }
    @include respond-to(HD) {
        height: map-get($navHeights, HD);
    }
    @include respond-to(tablet) {
        height: map-get($navHeights, tablet);
    }
    @include respond-to(mobile-small) {
        height: map-get($navHeights, mobile-small);
    }
}
.nav-light {
    border-bottom: 2px solid rgba(0,0,0,0.2);
    @include respond-to(HD) {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
}

.nav-full-container-outer {
    z-index: 10;
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    height: map-get($navHeights, HD);
    @include respond-to(QHD){
        
    }
}
.nav-full-container-inner {
    position: absolute;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    #logo{
        width: 200px;
        margin-right: 2rem;
    }
    .nav-link {
        margin-right: 1rem;
        align-self: center;
        &:hover {
            color: #999;
        }
    }
    .text-sm {
        margin-bottom: 0;
    }
    .nav-icon {
        color: #fff;
        align-self:center;  
        font-size: 2rem;
        margin-right: 1rem;
    }
    #search-icon {
        margin-left: auto;
    }
    #user-icon {
        width: 2.5rem;
        height: 2.5rem;
        align-self: center;
        min-width: 2.5rem;
    }
}