// Tables
.signup-table {
    width: 100%;
    margin-top: 3rem;
    border-collapse: collapse;
    border-spacing: 1rem 0;
    .btn-selection {
        background: map-get($colors, darkRed);
        color: white;
        padding: 2rem;
        min-width: 10rem;
        max-width: 10rem;
        text-align: center;
        box-shadow: 0 1px 0 rgba(0,0,0,0.45);
        border-radius: 10px;
        outline: none;
        border: none;
        cursor: pointer;
        &:hover {
            background: lighten(map-get($colors, brightRed), 5%);
        }
    }
    .btn-active {
        background: lighten(map-get($colors, brightRed), 5%);
    }
    thead tr th {
        text-transform: uppercase;
        padding: 4rem;
    }
    td {
        padding: 0.8rem 1.2rem;
        padding-left: 0;
        text-align: center;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    td:nth-child(1) {
        color: black;
        font-size: 1.1rem;
        text-align: left;
    }
    td:not(:first-child) {
        color: #999;
    }
}