// Tables
.signup-page-2-top{
    margin-top: map-get($navHeights, UHD);
    @include respond-to(QHD){
        margin-top: map-get($navHeights, QHD);
    }
    @include respond-to(HD){
        margin-top: 0;
    }
}

.signup-page-2-inner {
    margin-top: 100px;
    .btn {
        position: relative;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 300px;
    }
}
.signup-table {
    width: 100%;
    margin-top: 3rem;
    border-collapse: collapse;
    border-spacing: 1rem 0;
    .btn-selection {
        display: flex;
        justify-content: center;
        background: lighten(map-get($colors, darkRed), 35%);
        color: white;
        padding: 4rem;
        max-width: 10rem;
        margin: 0 0.5rem 1rem;
        border-radius: 5px;
        outline: none;
        border: none;
        cursor: pointer;
        &:hover {
            background: map-get($colors, brightRed);
        }
    }
    .btn-active {
        background: map-get($colors, brightRed);
    }
    thead tr:not(:first-child) {
        text-transform: uppercase;
        letter-spacing: 0.3ch;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
    }
    td {
        padding: 0.8rem 1.2rem 0.8rem 0;
        text-align: center;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    td:nth-child(1) {
        color: black;
        font-size: 1.1rem;
        text-align: left;
    }
    td:not(:first-child) {
        color: #999;
    }
    @include respond-to(HD) {
        margin-top: 3rem;
        border-collapse: collapse;
        border-spacing: 1rem 0;
        .btn-selection {
            display: flex;
            justify-content: center;
            padding: 4rem;
            max-width: 10rem;
            margin: 0 0.5rem 1rem;
            border-radius: 5px;
            outline: none;
            border: none;
            cursor: pointer;
        }
        thead tr:not(:first-child) {
            text-transform: uppercase;
            letter-spacing: 0.3ch;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: center;
        }
        td {
            padding: 0.8rem 1.2rem 0.8rem 0;
            text-align: center;
            border-bottom: 1px solid rgba(0,0,0,0.2);
        }
        td:nth-child(1) {
            color: black;
            font-size: 1.1rem;
            text-align: left;
        }
        td:not(:first-child) {
            color: #999;
        }
    }
    @include respond-to(half-HD) {
        thead tr th {
            padding: 0;
            letter-spacing: 0;
        }
        .btn-selection {
            position: relative;
            max-width: 8rem;
            padding: 3rem 4rem;
        }
        td {
            padding: 0.4rem 0.6rem;
        }
    }
    @include respond-to(tablet) {
        .btn-selection {
            left: 0;
            max-width: 5.5rem;
            padding: 2rem;
            margin: auto auto 0.5rem;
        }
        td {
            padding: 0.4rem 0;
        }
        td:first-child {
            color: #999;
            text-align: center;
        }
    }
}
