// TEXT
.text-xxl{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.text-xl {
    font-size: 2rem;
    margin-bottom: 1rem;
    @include respond-to(half-HD){
        font-size: 1.5rem;
    }
}
.text-lg {
    font-size: 5rem;
    margin-bottom: 1rem;
    @include respond-to(QHD){
        font-size: 3rem;
    }
    @include respond-to(HD){
        font-size: 2rem;
    }
    @include respond-to(half-HD){
        font-size: 1.3rem;
    }
}
.text-md {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    @include respond-to(half-HD){
        font-size: 1rem;
    }
}
.text-table{
    font-size: 1.1rem;
}
.text-sm {
    font-size: .9rem;
    margin-bottom: .8rem;  
}
.text-xsm {
    font-size: .7rem;
    margin-bottom: .5rem;  
}
.text-center {
    text-align: center;
}
.text-dark {
    color: #999;
}
.text-white{
    color: #FFF;
}
.text-black {
    color: #000;
}
.text-extra-heavy{
    font-weight: 900px;
}
.text-heavy{
    font-weight: 700px;
}
.text-bold{
    font-weight: bold;
}