.landing-page-showcase {
    position: relative;
    width: 100%;
    height: 93vh;
    background: map-get($images, showcaseBackground) no-repeat center center/cover;
    .nav-simple {
        height: map-get($navHeights, UHD);
        #logo{
            widows: map-get($logoWidths, UHD);
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            margin-left: 0; 
        }
        @include respond-to(QHD) {
            height: map-get($navHeights, QHD);
            #logo {
                width: map-get($logoWidths, QHD);
            }
            a {
                border-radius: 5px;
                margin-right: 40px;
            }
            a,
            p {
                padding: 15px 30px;
                font-size: 2.2rem;
            }
        }
        @include respond-to(HD) {
            height: map-get($navHeights, HD);
            #logo {
                width: map-get($logoWidths, HD);
            }
            a {
                border-radius: 2px;
                margin-right: 20px;
            }
            a,
            p {
                padding: 7px;
                font-size: 1rem;
            }
        }
        @include respond-to(half-HD) {
            #logo {
                width: 160px;
                position: relative;
                left: 0;
                transform: translate(0);
            }
            p {
                margin-left: auto;
            }
        }
    }
}
.landing-page-showcase::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    box-shadow: inset 2em 1em 200px 20px #000, inset -1.5em 0 100px 20px #000;
    @include respond-to(half-HD) {
        background: rgba(0,0,0,0);
        box-shadow: inset 0 -100px 50px 10px rgba(0,0,0,0.9);
    }
}
.landing-page-showcase-content {
    z-index: 2;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 45rem;
    h1 {
        font-weight: 600;
        font-size: 11rem;
        line-height: 1.1;
        margin: 0 0 2rem;
    }
    p {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 4rem;
        line-height: 1.25;
        margin: 0 0 2rem;
    }
    #signup-link-icon {
        transform: translate(50%, 15%);
    }
    @include respond-to(QHD) {
        padding-top: 28rem;
        h1 {
            font-size: 8em;
            line-height: 1;
        }
        p {
            font-size: 3rem;
        }
    }
    @include respond-to(HD) {
        padding-top: 18rem;
        h1 {
            font-size: 5.2rem;
            line-height: 1.1;
        }
        p {
            font-size: 2rem;
            line-height: 1.25;
        }
    }
    @include respond-to(half-HD) {
        padding-top: 38rem;
        h1 {
            font-size: 3.2rem;
            line-height: 1;
        }
        p {
            font-size: 1.5rem;
        }
    }
    @include respond-to-height(phone) {
        padding-top: 8rem;
        h1 {
            font-size: 3.2rem;
            line-height: 1;
        }
        p {
            font-size: 1.5rem;
        }
    }
    @include respond-to-height(mobile-small) {
        padding-top: 5rem;
        h1 {
            font-size: 3.2rem;
            line-height: 1;
        }
        p {
            font-size: 1rem;
        }
    }
}

// Mobile Landing Top 
.landing-page-mobile-top {
    height: 70px;
    padding: 20px 10px 0;
    display: flex;
    width: 100%;
    #logo {
        width: 110px;
        align-self: center;
    }
    p {
        margin-left: auto;
        padding: 0 7px;
        font-size: 0.8rem;
    }
    .signin-mobile {
        padding-top: 5px;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .signin-mobile:active {
        text-decoration: underline;
    }
    @include respond-to(mobile-small) {
        height: 50px;
        padding: 10px 5px 0;
        #logo {
            width: 100px;
        }
        .signin-mobile {
            padding-top: 8px;
            font-size: 0.9rem;
        }
    }
}

// Mobile Landing Cards
.mobile-selling-points-card {
    display: flex;
    padding: 1.5rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: map-get($colors, mobileCards);
    border-radius: 2%;
}

.background-image-container {
    position: relative;
    height: 70vh;
    padding: 1.5rem 1rem;
    margin: 1rem;
    border-radius: 2%;
    background: map-get($images, showcaseBackground) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    h3 {
        padding: 1rem 2rem 0;
        z-index: 2;
    }
    p {
        padding: 0 2rem;
        z-index: 2;
    }
}
.background-image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 20%, transparent);
}

// Landing Page Tabs
.landing-page-tabs {
    position: relative;
    z-index: 3;
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
    background: map-get($colors, tabsBackground);
}
.landing-page-tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    div {
        padding: 1.5rem 0;
        color: #999;
    }
    div:hover {
        color: #fff;
        cursor: pointer;
        p {
            color: #fff;
        }
    }
    p {
        font-size: 4rem;
        padding-top: 0.5rem;
        color: #999;
    }
    .tab-border {
        color: #fff;
        p {
            color: #fff;
        }
        border-bottom: map-get($colors, brightRed) 4px solid;
    }
    .tab-icon{
        font-size: 10em;
    }
    @include respond-to(QHD){
        .tab-icon{
            font-size: 6em;
        }
        p{
            font-size: 2.5rem;
        }
    }
    @include respond-to(HD){
        .tab-icon{
            font-size: 3.2em;
        }
        p{
            font-size: 1.4rem;
        }
    }
}

// tab content
.tab-content {
    position: relative;
    padding: 3rem 0; 
}
.hide-sm{
    @include respond-to(half-HD){
        display: none;
    }
}
// Tab 1 content
#tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    div {
        margin-top: 2rem;
    }
}

// Tab 2 content
#tab-2-content .tab-2-content-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}
#tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

// Tab 3 Content
.tab-3-table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
    thead th {
        text-transform: uppercase;
        padding: 0.8rem;
    }
    tbody tr td {
        color: #999;
        padding: 0.8rem 1.2rem;
        text-align: center;
    }
    tbody tr td:first-child {
        text-align: left;
    }
    tbody tr:nth-child(odd) {
        background: #222;
    }
}
