// Imports
@import "./constants/colors";
@import "./constants/images";
@import "./constants/breakpoints";
@import "./constants/layout-general";
@import "./constants/values";
@import "./utilities/buttons";
@import "./utilities/backgrounds";
@import "./utilities/containers";
@import "./utilities/footer";
@import "./utilities/forms";
@import "./utilities/icons";
@import "./utilities/input-fields";
@import "./utilities/navbar";
@import "./utilities/tables";
@import "./utilities/text";
@import "./pages/landingPage";

.show-option-container {
    margin-right: 0.2rem;
    width: 20rem;
    .show-option-logo {
        display: none;
        position: absolute;
        width: 1rem;
        margin: 0.25rem 0 0 0.25rem;
    }
    .show-option-image {
        height: 10rem;
    }
    .show-hover-container {
        display: none;
    }
    &:hover {
        transform: scale(1.75);
        margin: 0 6.5rem;
        .show-hover-container {
            display: block;
        }
        .show-info-container {
            padding-left: 0.5rem;
            position: absolute;
            display: inline-block;
            max-width: 16rem;
            top: 35%;
            left: 0;
            .text-sm,
            .text-xsm {
                margin-bottom: 0;
            }
            .text-row {
                display: flex;
            }
            #play-icon {
                font-size: 1.5rem;
                color: black;
                background: map-get($colors, brightRed);
                box-shadow: 0 0 3px 1px map-get($colors, brightRed);
                border-radius: 1rem;
            }
        }
        .show-buttons-container {
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: column;
            top: 25%;
            margin-right: 1rem;
            .show-select-icon {
                margin-bottom: 0.8rem;
            }
        }
    }
}
.show-carousel-container-outer {
    margin-bottom: 4rem;
    margin-left: 8rem;
    #carousel-title {
        margin-left: 0.5rem;
    }
}
.show-carousel-container-inner {
    position: relative;
    display: flex;
    justify-content: center;
}
.show-carousel-container-outer:first-child {
    margin-top: 10rem;
}
