* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", "sans-serif";
  background: #111;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  color: #fff;
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  background: #E50914;
  color: #fff;
  padding: 0.5rem 1.4rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  background: #f6121d;
}

.btn-blue {
  color: #fff;
  background: #0070eb;
  padding: 20px;
  text-align: center;
  margin: 2rem 0 4rem;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  text-transform: uppercase;
  font-size: 5rem;
  padding: 1.5rem 3.2rem;
}

@media (max-width: 2560px) {
  .btn-xl {
    font-size: 4rem;
  }
}

@media (max-width: 1920px) {
  .btn-xl {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .btn-xl {
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
  }
}

@media (max-width: 400px) {
  .btn-xl {
    font-size: 1.1rem;
  }
}

@media (max-height: 600px) {
  .btn-xl {
    font-size: 1.2rem;
  }
}

.btn-lg {
  font-size: 3rem;
  padding: 1.3rem 2rem;
  text-transform: uppercase;
}

@media (max-width: 2560px) {
  .btn-lg {
    font-size: 2.5rem;
    padding: 0.8rem 1.3rem;
  }
}

@media (max-width: 1920px) {
  .btn-lg {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .btn-lg {
    font-size: 1rem;
    padding: 1.4rem 2rem;
  }
}

@media (max-width: 400px) {
  .btn-lg {
    font-size: 0.8rem;
  }
}

.btn-dark {
  background: none;
  border: #999 solid;
  color: #999;
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1rem;
  outline: none;
}

.btn-dark:hover {
  cursor: pointer;
  color: #ccc;
}

.btn-bottom {
  width: 100%;
  -webkit-box-shadow: 40px 40px 100px 100px rgba(0, 0, 0, 0.7);
          box-shadow: 40px 40px 100px 100px rgba(0, 0, 0, 0.7);
}

.error-message-container {
  height: calc(100vh - 250px);
  width: 100%;
  background: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding-top: 150px;
}

@media (max-width: 2560px) {
  .error-message-container {
    height: calc(100vh - 150px);
  }
}

@media (max-width: 1920px) {
  .error-message-container {
    height: calc(100vh - 90px);
  }
}

@media (max-width: 700px) {
  .error-message-container {
    height: calc(100vh - 75px);
  }
}

@media (max-width: 400px) {
  .error-message-container {
    height: calc(100vh - 60px);
  }
}

.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.container-centered {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.mobile-card-container {
  padding: 0.4rem 1rem;
}

.center-content-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
}

.signup-tour-inner {
  margin-top: calc(250px * 2);
  text-align: center;
}

.signup-tour-inner .signup-tour-inner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.signup-tour-inner #check-icon-circle {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  background: #E50914;
  padding: 2px;
  border-radius: 100px;
  margin-bottom: 4rem;
  font-size: 9rem;
}

@media (max-width: 2560px) {
  .signup-tour-inner #check-icon-circle {
    font-size: 6rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1920px) {
  .signup-tour-inner #check-icon-circle {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 900px) {
  .signup-tour-inner #check-icon-circle {
    font-size: 2.5rem;
    margin-bottom: .75rem;
  }
}

.signup-tour-inner .text-md {
  margin-bottom: 0;
}

.signup-tour-inner .text-xl {
  margin-top: 0;
  color: black;
}

.signup-tour-inner .text-black {
  margin-bottom: 2rem;
}

.signup-tour-inner .tour-list {
  color: black;
  text-align: left;
  margin: 1.5rem 0;
}

.signup-tour-inner .tour-list li {
  margin-bottom: 1rem;
}

.signup-tour-inner .tour-list #check-icon {
  color: #E50914;
  margin-right: 10px;
}

.signup-tour-inner .btn-lg {
  width: 100%;
}

@media (max-width: 2560px) {
  .signup-tour-inner {
    margin-top: calc(150px * 2);
  }
}

@media (max-width: 1920px) {
  .signup-tour-inner {
    margin-top: calc(90px * 2);
  }
}

.icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons-container .icon {
  margin-right: 15px;
  color: #E50914;
}

.icons-container .tab-phone-icons-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.icons-container .tab-phone-icons-container .icon {
  margin: 0;
}

.footer {
  position: relative;
  max-width: 75%;
  margin: 1rem auto;
  overflow: auto;
}

.footer a {
  color: #999;
  font-size: 0.9rem;
}

.footer p {
  margin-bottom: 1.5rem;
}

.footer li {
  line-height: 1.9rem;
}

@media (max-width: 540px) {
  .footer {
    margin-bottom: 80px;
  }
  .footer p {
    color: #999;
  }
}

.footer .footer-cols {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.footer .footer-cols p {
  margin: 4rem 0;
}

@media (max-width: 2560px) {
  .footer .footer-cols p {
    margin: 2rem 0;
  }
}

@media (max-width: 1920px) {
  .footer .footer-cols p {
    margin: 0.5rem 0;
  }
}

.login-form {
  z-index: 2;
  margin-top: 300px;
  position: absolute;
  height: 100rem;
  max-height: 100vh;
  width: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 40px 60px 0;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.7));
  margin-bottom: 201px;
}

.login-form p {
  margin-bottom: 2rem;
}

.login-form .btn-lg {
  margin-top: 2rem;
  width: 100%;
}

@media (max-width: 2560px) {
  .login-form {
    margin-top: 201px;
    height: 60rem;
    width: 40rem;
  }
}

@media (max-width: 1920px) {
  .login-form {
    margin-top: 91px;
    height: 45rem;
    width: 35rem;
  }
}

@media (max-width: 600px) {
  .login-form {
    display: absolute;
    width: 100%;
    padding: 0;
  }
}

.login-form-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url("../resources/images/netflix_showcase_background.jpg") no-repeat center center/cover;
}

@media (max-width: 600px) {
  .login-form-container {
    display: relative;
    padding: 0;
    background: none;
    padding: 0 10px;
  }
}

.login-form-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.remember-help-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.remember-help-container a {
  margin-left: auto;
}

.remember-help-container p {
  margin-left: 10px;
  margin-top: 0;
}

.remember-help-container input {
  -webkit-transform: scale(1.25) translateX(3px);
          transform: scale(1.25) translateX(3px);
  margin-top: 2px;
}

.login-form-bottom-container {
  margin-top: 12rem;
  margin-bottom: 0;
  padding: 0;
}

.login-form-bottom-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-form-bottom-icon-container p {
  margin: 0 5px 1rem;
}

.login-form-bottom-icon-container .facebook-icon {
  color: #3C5A99;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.navbar-bottom {
  position: fixed;
  width: 100%;
  z-index: 10;
  bottom: 0;
  padding: 5%;
}

.nav-simple {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 250px;
  width: 100%;
}

.nav-simple #logo {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 0;
  margin-left: 18rem;
  width: 600px;
  cursor: pointer;
}

.nav-simple .logo-alone {
  position: absolute;
  margin-left: 4rem;
  left: 0;
  width: 600px;
  cursor: pointer;
}

.nav-simple a {
  font-size: 3rem;
  padding: 25px 50px;
  margin-right: 80px;
  border-radius: 10px;
}

.nav-simple p {
  padding: 20px 40px;
  font-size: 3rem;
}

.nav-simple .signin-light {
  color: black;
  padding: 0;
  margin-right: 2rem;
  font-size: 4rem;
  text-decoration: none;
}

.nav-simple .signin-light:hover {
  text-decoration: underline;
}

@media (max-width: 2560px) {
  .nav-simple {
    height: 150px;
  }
  .nav-simple #logo {
    width: 400px;
    margin-left: 14rem;
  }
  .nav-simple .logo-alone {
    margin-left: 0rem;
  }
  .nav-simple p {
    margin-left: auto;
  }
  .nav-simple .signin-light {
    font-size: 2.5rem;
  }
}

@media (max-width: 1920px) {
  .nav-simple {
    height: 90px;
  }
  .nav-simple #logo {
    width: 200px;
    margin-left: 7rem;
  }
  .nav-simple .signin-light {
    font-size: 1.4rem;
  }
}

@media (max-width: 700px) {
  .nav-simple {
    height: 75px;
  }
  .nav-simple p {
    margin-left: auto;
  }
}

@media (max-width: 400px) {
  .nav-simple {
    height: 60px;
  }
  .nav-simple #logo {
    width: 100px;
    margin-left: 3.5rem;
  }
  .nav-simple .signin-light {
    font-size: 1rem;
    margin-top: 5px;
  }
}

.error-page .nav-black {
  background: black;
  width: 100%;
  height: 250px;
}

@media (max-width: 2560px) {
  .error-page .nav-black {
    height: 150px;
  }
}

@media (max-width: 1920px) {
  .error-page .nav-black {
    height: 90px;
  }
}

@media (max-width: 700px) {
  .error-page .nav-black {
    height: 75px;
  }
}

@media (max-width: 400px) {
  .error-page .nav-black {
    height: 60px;
  }
}

.nav-light {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 1920px) {
  .nav-light {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.nav-full-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  bottom: 50%;
  top: 50%;
  width: 100%;
}

.nav-full-container .nav-link {
  margin-right: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-full-container .nav-link:hover {
  color: #999;
}

.nav-full-container .nav-link:last-child {
  margin-right: 500px;
}

.nav-full-container .text-sm {
  margin-bottom: 0;
}

.nav-full-container .nav-icon {
  color: white;
  font-size: 1.75rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-right: 0rem;
}

.nav-full-container #search-icon {
  margin-left: auto;
  margin-right: 1rem;
}

.nav-full-container .nav-user-icon {
  margin-right: 3rem;
  width: 2.5rem;
  height: 2.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-full {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 28px;
  height: 250px;
  width: 100%;
}

.nav-full #logo {
  width: 600px;
  margin-right: 1.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.signup-page-2-top {
  margin-top: 250px;
}

@media (max-width: 2560px) {
  .signup-page-2-top {
    margin-top: 150px;
  }
}

@media (max-width: 1920px) {
  .signup-page-2-top {
    margin-top: 90px;
  }
}

@media (max-width: 1920px) {
  .signup-page-2-top {
    margin-top: 90px;
  }
}

@media (max-width: 700px) {
  .signup-page-2-top {
    text-align: center;
  }
}

.signup-page-2-inner {
  margin-top: 100px;
}

.signup-page-2-inner .btn {
  position: relative;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 300px;
}

.signup-page-2-inner .input-field-container {
  background: #ddd;
}

.signup-table {
  width: 100%;
  margin-top: 3rem;
  border-collapse: collapse;
  border-spacing: 1rem 0;
}

.signup-table .btn-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f97279;
  color: white;
  padding: 4rem;
  max-width: 10rem;
  margin: 0 0.5rem 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.signup-table .btn-selection:hover {
  background: #E50914;
}

.signup-table .btn-active {
  background: #E50914;
}

.signup-table thead tr:not(:first-child) {
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.signup-table td {
  padding: 0.8rem 1.2rem 0.8rem 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.signup-table td:nth-child(1) {
  color: black;
  font-size: 1.1rem;
  text-align: left;
}

.signup-table td:not(:first-child) {
  color: #999;
}

@media (max-width: 1920px) {
  .signup-table {
    margin-top: 3rem;
    border-collapse: collapse;
    border-spacing: 1rem 0;
  }
  .signup-table .btn-selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4rem;
    max-width: 10rem;
    margin: 0 0.5rem 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .signup-table thead tr:not(:first-child) {
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .signup-table td {
    padding: 0.8rem 1.2rem 0.8rem 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .signup-table td:nth-child(1) {
    color: black;
    font-size: 1.1rem;
    text-align: left;
  }
  .signup-table td:not(:first-child) {
    color: #999;
  }
}

@media (max-width: 900px) {
  .signup-table thead tr th {
    padding: 0;
    letter-spacing: 0;
  }
  .signup-table .btn-selection {
    position: relative;
    max-width: 8rem;
    padding: 3rem 4rem;
  }
  .signup-table td {
    padding: 0.4rem 0.6rem;
  }
}

@media (max-width: 700px) {
  .signup-table .btn-selection {
    left: 0;
    max-width: 5.5rem;
    padding: 2rem;
    margin: auto auto 0.5rem;
  }
  .signup-table td {
    padding: 0.4rem 0;
  }
  .signup-table td:first-child {
    color: #999;
    text-align: center;
  }
}

.text-xxl {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.text-xl {
  font-size: 6rem;
  margin-bottom: 1rem;
}

@media (max-width: 2560px) {
  .text-xl {
    font-size: 4rem;
  }
}

@media (max-width: 1920px) {
  .text-xl {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .text-xl {
    font-size: 2rem;
  }
}

.text-lg {
  font-size: 5rem;
  margin-bottom: 1rem;
}

@media (max-width: 2560px) {
  .text-lg {
    font-size: 3rem;
  }
}

@media (max-width: 1920px) {
  .text-lg {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .text-lg {
    font-size: 1rem;
  }
}

.text-md {
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 2560px) {
  .text-md {
    font-size: 2rem;
  }
}

@media (max-width: 1920px) {
  .text-md {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .text-md {
    font-size: 0.8rem;
  }
}

.text-table {
  font-size: 1.1rem;
}

.text-sm {
  font-size: .9rem;
  margin-bottom: .8rem;
}

.text-xsm {
  font-size: .7rem;
  margin-bottom: .5rem;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: #999;
}

.text-dark:hover {
  color: #ccc;
}

.text-white {
  color: #FFF;
}

.text-black {
  color: #000;
}

.text-extra-heavy {
  font-weight: 900px;
}

.text-heavy {
  font-weight: 700px;
}

.text-bold {
  font-weight: bold;
}

.landing-page-showcase {
  position: relative;
  width: 100%;
  height: 93vh;
  background: url("../resources/images/netflix_showcase_background.jpg") no-repeat center center/cover;
}

.landing-page-showcase .nav-simple {
  height: 250px;
}

.landing-page-showcase .nav-simple #logo {
  widows: 600px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  margin-left: 0;
}

@media (max-width: 2560px) {
  .landing-page-showcase .nav-simple {
    height: 150px;
  }
  .landing-page-showcase .nav-simple #logo {
    width: 400px;
  }
  .landing-page-showcase .nav-simple a {
    border-radius: 5px;
    margin-right: 40px;
  }
  .landing-page-showcase .nav-simple a,
  .landing-page-showcase .nav-simple p {
    padding: 15px 30px;
    font-size: 2.2rem;
  }
}

@media (max-width: 1920px) {
  .landing-page-showcase .nav-simple {
    height: 90px;
  }
  .landing-page-showcase .nav-simple #logo {
    width: 200px;
  }
  .landing-page-showcase .nav-simple a {
    border-radius: 2px;
    margin-right: 20px;
  }
  .landing-page-showcase .nav-simple a,
  .landing-page-showcase .nav-simple p {
    padding: 7px;
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .landing-page-showcase .nav-simple #logo {
    width: 160px;
    position: relative;
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .landing-page-showcase .nav-simple p {
    margin-left: auto;
  }
}

.landing-page-showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 2em 1em 200px 20px #000, inset -1.5em 0 100px 20px #000;
          box-shadow: inset 2em 1em 200px 20px #000, inset -1.5em 0 100px 20px #000;
}

@media (max-width: 900px) {
  .landing-page-showcase::after {
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 -100px 50px 10px rgba(0, 0, 0, 0.9);
            box-shadow: inset 0 -100px 50px 10px rgba(0, 0, 0, 0.9);
  }
}

.landing-page-showcase-content {
  z-index: 2;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 45rem;
}

.landing-page-showcase-content h1 {
  font-weight: 600;
  font-size: 11rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.landing-page-showcase-content p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

.landing-page-showcase-content #signup-link-icon {
  -webkit-transform: translate(50%, 15%);
          transform: translate(50%, 15%);
}

@media (max-width: 2560px) {
  .landing-page-showcase-content {
    padding-top: 28rem;
  }
  .landing-page-showcase-content h1 {
    font-size: 8em;
    line-height: 1;
  }
  .landing-page-showcase-content p {
    font-size: 3rem;
  }
}

@media (max-width: 1920px) {
  .landing-page-showcase-content {
    padding-top: 18rem;
  }
  .landing-page-showcase-content h1 {
    font-size: 5.2rem;
    line-height: 1.1;
  }
  .landing-page-showcase-content p {
    font-size: 2rem;
    line-height: 1.25;
  }
}

@media (max-width: 900px) {
  .landing-page-showcase-content {
    padding-top: 38rem;
  }
  .landing-page-showcase-content h1 {
    font-size: 3.2rem;
    line-height: 1;
  }
  .landing-page-showcase-content p {
    font-size: 1.5rem;
  }
}

@media (max-height: 600px) {
  .landing-page-showcase-content {
    padding-top: 8rem;
  }
  .landing-page-showcase-content h1 {
    font-size: 3.2rem;
    line-height: 1;
  }
  .landing-page-showcase-content p {
    font-size: 1.5rem;
  }
}

.landing-page-mobile-top {
  height: 70px;
  padding: 20px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.landing-page-mobile-top #logo {
  width: 110px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.landing-page-mobile-top p {
  margin-left: auto;
  padding: 0 7px;
  font-size: 0.8rem;
}

.landing-page-mobile-top .signin-mobile {
  padding-top: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.landing-page-mobile-top .signin-mobile:active {
  text-decoration: underline;
}

@media (max-width: 400px) {
  .landing-page-mobile-top {
    height: 50px;
    padding: 10px 5px 0;
  }
  .landing-page-mobile-top #logo {
    width: 100px;
  }
  .landing-page-mobile-top .signin-mobile {
    padding-top: 8px;
    font-size: 0.9rem;
  }
}

.mobile-selling-points-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  background: #3d3d3d;
  border-radius: 2%;
}

.background-image-container {
  position: relative;
  height: 70vh;
  padding: 1.5rem 1rem;
  margin: 1rem;
  border-radius: 2%;
  background: url("../resources/images/netflix_showcase_background.jpg") no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.background-image-container h3 {
  padding: 1rem 2rem 0;
  z-index: 2;
}

.background-image-container p {
  padding: 0 2rem;
  z-index: 2;
}

.background-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 0, 0, 0.8)), to(transparent));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 20%, transparent);
}

.landing-page-tabs {
  position: relative;
  z-index: 3;
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
  background: #141414;
}

.landing-page-tabs .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.landing-page-tabs .container div {
  padding: 1.5rem 0;
  color: #999;
}

.landing-page-tabs .container div:hover {
  color: #fff;
  cursor: pointer;
}

.landing-page-tabs .container div:hover p {
  color: #fff;
}

.landing-page-tabs .container p {
  font-size: 4rem;
  padding-top: 0.5rem;
  color: #999;
}

.landing-page-tabs .container .tab-border {
  color: #fff;
  border-bottom: #E50914 4px solid;
}

.landing-page-tabs .container .tab-border p {
  color: #fff;
}

.landing-page-tabs .container .tab-icon {
  font-size: 10em;
}

@media (max-width: 2560px) {
  .landing-page-tabs .container .tab-icon {
    font-size: 6em;
  }
  .landing-page-tabs .container p {
    font-size: 2.5rem;
  }
}

@media (max-width: 1920px) {
  .landing-page-tabs .container .tab-icon {
    font-size: 3.2em;
  }
  .landing-page-tabs .container p {
    font-size: 1.4rem;
  }
}

.tab-content {
  position: relative;
  padding: 3rem 0;
}

@media (max-width: 900px) {
  .hide-sm {
    display: none;
  }
}

#tab-1-content .tab-1-content-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tab-1-content .tab-1-content-inner div {
  margin-top: 2rem;
}

#tab-2-content .tab-2-content-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tab-2-content .tab-2-content-bottom {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.tab-3-table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
}

.tab-3-table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
}

.tab-3-table tbody tr td {
  color: #999;
  padding: 0.8rem 1.2rem;
  text-align: center;
}

.tab-3-table tbody tr td:first-child {
  text-align: left;
}

.tab-3-table tbody tr:nth-child(odd) {
  background: #222;
}

.white-background {
  z-index: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.user-page-container {
  margin-top: 30rem;
}

.user-page-container .btn-xl {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.user-page-container .user-icons {
  width: 30rem;
  height: 30rem;
}

.user-page-container .user-icons:hover {
  outline: 0.8rem solid #fff;
}

.user-page-container .user-icons:hover p {
  color: #fff;
}

.user-page-container p {
  text-align: center;
  color: #999;
}

@media (max-width: 1920px) {
  .user-page-container {
    margin-top: 20rem;
  }
  .user-page-container .user-icons {
    width: 12rem;
    height: 12rem;
  }
  .user-page-container .user-icons:hover {
    outline: 0.2rem solid #fff;
  }
}

.user-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.user-icons-container .user-icons {
  margin: 0 1rem 8rem;
}

.input-field-container {
  position: relative;
  margin-bottom: 1rem;
  height: 3rem;
  width: 100%;
  border-radius: 5px;
  background: #fff;
}

.input-field-container label {
  position: absolute;
  padding: 5px 20px;
  color: black;
}

.input-field-container input {
  position: absolute;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  padding: 15px 20px 0;
  border: none;
  background: none;
}

.login-form-bottom-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-form-bottom-new p {
  margin-top: 0;
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */