// Imports
@import "./constants/colors";
@import "./constants/images";
@import "./constants/breakpoints";
@import "./constants/layout-general";
@import "./constants/values";

@import "./utilities/buttons";
@import "./utilities/backgrounds";
@import "./utilities/containers";
@import "./utilities/footer";
@import "./utilities/forms";
@import "./utilities/icons";
@import "./utilities/input-fields";
@import "./utilities/navbar";
@import "./utilities/tables";
@import "./utilities/text";

@import "./pages/landingPage";


.show-option-container{
    margin-right: .3rem;
    width: 17rem;
    .show-option-logo{
        position: absolute;
        width: 1rem;
        margin: .25rem 0 0 .25rem;
    }
    .show-option-image{
        height: 10rem;
    }
}
.show-carousel-container-outer{
    margin-bottom: 4rem;
    margin-left: 4rem;
}
.show-carousel-container-inner{
    position: relative;
    display: flex;
    justify-content: center;
}
.show-carousel-container-outer:first-child{
    margin-top: 10rem;
}



