.btn {
  display: inline-block;
  background: #E50914;
  color: #fff;
  padding: 0.5rem 1.4rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  background: #f6121d;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 5rem;
  padding: 1.5rem 3.2rem;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}

.btn-dark {
  background: none;
  border: #999 solid;
  color: #999;
  font-size: 1.1rem;
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1rem;
}

.btn-dark:hover {
  background: none;
}

.btn-bottom {
  width: 100%;
  -webkit-box-shadow: 40px 40px 100px 100px rgba(0, 0, 0, 0.7);
          box-shadow: 40px 40px 100px 100px rgba(0, 0, 0, 0.7);
}

.text-xxl {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.text-xl {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.text-md {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: #999;
}

.text-heavy {
  font-weight: 700px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", "sans-serif";
  background: #000;
  color: #fff;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  color: #fff;
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.landing-page-showcase {
  position: relative;
  width: 100%;
  height: 93vh;
  background: url("../resources/images/netflix_showcase_background.jpg") no-repeat center center/cover;
}

.landing-page-showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 2em 1em 200px 20px #000, inset -1.5em 0 100px 20px #000;
          box-shadow: inset 2em 1em 200px 20px #000, inset -1.5em 0 100px 20px #000;
}

.landing-page-showcase-top {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 200px;
  width: 100%;
}

.landing-page-showcase-top #logo {
  position: absolute;
  left: 50%;
  width: 500px;
  cursor: pointer;
}

.landing-page-showcase-top a {
  font-size: 3rem;
  padding: 25px 50px;
  margin-right: 80px;
  border-radius: 10px;
}

.landing-page-showcase-top p {
  padding: 20px 40px;
  font-size: 3rem;
}

.landing-page-showcase-content {
  z-index: 2;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 30rem;
}

.landing-page-showcase-content h1 {
  font-weight: 600;
  font-size: 11rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.landing-page-showcase-content p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

.landing-page-showcase-content #signup-link-icon {
  -webkit-transform: translate(50%, 15%);
          transform: translate(50%, 15%);
}

.landing-page-mobile-top {
  height: 70px;
  padding: 20px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.landing-page-mobile-top #logo {
  width: 110px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.landing-page-mobile-top p {
  margin-left: auto;
  padding: 0 7px;
  font-size: 0.8rem;
}

.landing-page-mobile-top .signin-mobile {
  padding-top: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.landing-page-mobile-top .signin-mobile:active {
  text-decoration: underline;
}

.mobile-selling-points-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  background: #3d3d3d;
  border-radius: 2%;
}

.background-image-container {
  position: relative;
  height: 70vh;
  padding: 1.5rem 1rem;
  margin: 1rem;
  border-radius: 2%;
  background: url("../resources/images/netflix_showcase_background.jpg") no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.background-image-container h3 {
  padding: 1rem 2rem 0;
  z-index: 2;
}

.background-image-container p {
  padding: 0 2rem;
  z-index: 2;
}

.background-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 0, 0, 0.8)), to(transparent));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 20%, transparent);
}

.landing-page-tabs {
  position: relative;
  z-index: 3;
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
  background: #141414;
}

.landing-page-tabs .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.landing-page-tabs .container div {
  padding: 1.5rem 0;
}

.landing-page-tabs .container div:hover {
  color: #fff;
  cursor: pointer;
}

.landing-page-tabs .container .tab p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.landing-page-tabs .container .tab-border {
  border-bottom: #E50914 4px solid;
}

.tab-content {
  position: relative;
  padding: 3rem 0;
}

#tab-1-content .tab-1-content-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tab-1-content .tab-1-content-inner div {
  margin-top: 2rem;
}

#tab-2-content .tab-2-content-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tab-2-content .tab-2-content-bottom {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.tab-3-table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
}

.tab-3-table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
}

.tab-3-table tbody tr td {
  color: #999;
  padding: 0.8rem 1.2rem;
  text-align: center;
}

.tab-3-table tbody tr td:first-child {
  text-align: left;
}

.tab-3-table tbody tr:nth-child(odd) {
  background: #222;
}

.error-message-container {
  height: 100vh;
  width: 100%;
  background: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 5%;
}

.footer {
  position: relative;
  max-width: 75%;
  margin: 1rem auto;
  overflow: auto;
}

.footer a {
  color: #999;
  font-size: 0.9rem;
}

.footer p {
  margin-bottom: 1.5rem;
}

.footer li {
  line-height: 1.9rem;
}

.footer .footer-cols {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.container-centered {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.mobile-card-container {
  padding: 0.4rem 1rem;
}

.navbar-bottom {
  position: fixed;
  width: 100%;
  z-index: 10;
  bottom: 0;
  padding: 5%;
}

.navbar-top-simple {
  position: relative;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  width: 100%;
}

.navbar-top-simple #logo {
  width: 170px;
  cursor: pointer;
}

@media (max-width: 2560px) {
  .landing-page-showcase-content {
    margin-top: 18rem;
  }
  .landing-page-showcase-content h1 {
    font-size: 8em;
    line-height: 1;
  }
  .landing-page-showcase-content p {
    font-size: 3rem;
  }
  .landing-page-showcase-top {
    height: 150px;
  }
  .landing-page-showcase-top #logo {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 400px;
  }
  .landing-page-showcase-top a {
    border-radius: 5px;
    margin-right: 40px;
  }
  .landing-page-showcase-top a,
  .landing-page-showcase-top p {
    padding: 15px 30px;
    font-size: 2.2rem;
  }
  .btn-xl {
    font-size: 4rem;
  }
}

@media (max-width: 1920px) {
  .landing-page-showcase-content {
    margin-top: 8rem;
  }
  .landing-page-showcase-content h1 {
    font-size: 5.2rem;
    line-height: 1.1;
  }
  .landing-page-showcase-content p {
    font-size: 2rem;
    line-height: 1.25;
  }
  .landing-page-showcase-top {
    height: 90px;
  }
  .landing-page-showcase-top #logo {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 167px;
  }
  .landing-page-showcase-top a {
    border-radius: 2px;
    margin-right: 20px;
  }
  .landing-page-showcase-top a,
  .landing-page-showcase-top p {
    padding: 7px;
    font-size: 1rem;
  }
  .btn-xl {
    font-size: 2rem;
  }
}

@media (max-width: 927px) {
  .landing-page-showcase::after {
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 -100px 50px 10px rgba(0, 0, 0, 0.9);
            box-shadow: inset 0 -100px 50px 10px rgba(0, 0, 0, 0.9);
  }
  .hide-sm {
    display: none;
  }
  .landing-page-showcase-content {
    margin-top: 25rem;
  }
  .landing-page-showcase-content h1 {
    font-size: 3.2rem;
    line-height: 1;
  }
  .landing-page-showcase-content p {
    font-size: 1.5rem;
  }
  .footer .footer-cols {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .btn-xl {
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
  }
  .text-xl {
    font-size: 1.5rem;
  }
  .text-lg {
    font-size: 1.3rem;
  }
  .text-md {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .landing-page-showcase-top #logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    position: relative;
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .landing-page-showcase-top p {
    margin-left: auto;
  }
}

@media (max-width: 700px) {
  .landing-page-showcase-top {
    height: 75px;
  }
}

@media (max-width: 540px) {
  .footer p {
    color: #999;
  }
}

@media (max-height: 800px) {
  .landing-page-showcase-content {
    margin-top: 5rem;
  }
  .landing-page-showcase-content h1 {
    font-size: 3.2rem;
    line-height: 1;
  }
  .landing-page-showcase-content p {
    font-size: 1.5rem;
  }
  .btn-xl {
    font-size: 1.2rem;
  }
}

@media (max-height: 500px) {
  .landing-page-showcase-content {
    margin-top: 0.5rem;
  }
  .landing-page-showcase-content h1 {
    font-size: 3.2rem;
    line-height: 1;
  }
  .landing-page-showcase-content p {
    font-size: 1rem;
  }
}

@media (max-width: 340px) {
  .landing-page-mobile-top {
    height: 50px;
    padding: 10px 5px 0;
  }
  .landing-page-mobile-top #logo {
    width: 100px;
  }
  .landing-page-mobile-top .signin-mobile {
    padding-top: 8px;
    font-size: 0.9rem;
  }
  .btn-xl {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=main.css.map */